
*,:after,:before{margin:0;padding:0;font:inherit;color:inherit;box-sizing:border-box;}
:root{-webkit-tap-highlight-color:transparent;text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:2;font-synthesis:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html,body{height:100%;}
img,picture,video,canvas{display:block;max-width:100%;}
img{text-indent:-9999px;}
button{background:none;border:0;cursor:pointer;}
a{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,menu,dir{list-style:none;}
*,:after,:before{--w-grow:initial;--w-align:initial;--h-grow:initial;--h-align:initial;}
*,:after,:before{
--a-translate-x:0;
--a-translate-y:0;
--a-rotate:0;
--a-skew-x:0;
--a-skew-y:0;
--a-scale-x:1;
--a-scale-y:1;
--a-transform: translateX(var(--a-translate-x)) translateY(var(--a-translate-y)) rotate(var(--a-rotate)) skewX(var(--a-skew-x)) skewY(var(--a-skew-y)) scaleX(var(--a-scale-x)) scaleY(var(--a-scale-y));
--a-transform3d: translate3d(var(--a-translate-x),var(--a-translate-y),0) rotate(var(--a-rotate)) skewX(var(--a-skew-x)) skewY(var(--a-skew-y)) scaleX(var(--a-scale-x)) scaleY(var(--a-scale-y));
}
.\31 00{font-weight:100;}
.block{display:block;}
.inline{display:inline;}
.contents{display:contents;}
.w\(fill\){flex-grow:var(--w-grow);flex-shrink:var(--w-shrink);align-self:var(--w-align);max-width:100%}.w\(fill\).h\(fill\),.w\(fill\).h\(stretch\){flex-grow:1;flex-shrink:1;align-self:stretch;max-width:100%;max-height:100%;}
.h\(100\%\){height:100%;}
.h\(fill\){flex-grow:var(--h-grow);flex-shrink:var(--h-shrink);align-self:var(--h-align);max-height:100%;}
.bg\(\#000\.0\){background:rgba(0,0,0,.0);}
.cover{background-size:cover;background-position:center;background-repeat:no-repeat;object-fit:cover;}
.scroll-y{overflow-x:hidden;overflow-y:auto;}
.hbox{display:flex;flex-flow:row;align-items:center;}:where(.hbox>*){flex-shrink:0;--w-grow:1;--w-shrink:1;--w-align:initial;--h-grow:initial;--h-shrink:0;--h-align:stretch;}
.hbox\(start\){display:flex;flex-flow:row;align-items:center;}:where(.hbox\(start\)>*){flex-shrink:0;--w-grow:1;--w-shrink:1;--w-align:initial;--h-grow:initial;--h-shrink:0;--h-align:stretch;}
.vbox{display:flex;flex-flow:column;align-items:stretch;}:where(.vbox>*){flex-shrink:0;--h-grow:1;--h-shrink:1;--h-align:initial;--w-grow:initial;--w-shrink:0;--w-align:stretch;}
.wrap{display:flex;flex-flow:wrap;align-items:center;}:where(.wrap>*){flex-shrink:0;--w-grow:1;--w-shrink:1;--w-align:initial;--h-grow:initial;--h-shrink:0;--h-align:stretch;}
.pack{display:flex;align-items:center;justify-content:center;}:where(.pack>*){flex-shrink:0;--w-grow:1;--w-shrink:1;--w-align:initial;--h-grow:initial;--h-shrink:0;--h-align:stretch;}
.gap\(10\){gap:10px;grid-gap:10px;}
.flex{flex:1;}
.layer{position:absolute;top:0;right:0;bottom:0;left:0;}
.relative{position:relative;}
.none{display:none;}
.hidden{visibility:hidden;}
.visible{visibility:visible;}
.progress{cursor:progress;}
.content{content:'';}
